@import "tailwindcss";

@theme {
  --color-surface: #f9f6f5;
  --color-on-surface: #2f2e2e;
  --color-primary: #785500;
  --color-primary-container: #feb700;
  --color-on-primary-container: #533a00;
  --color-secondary: #a93000;
  --color-secondary-container: #ffc4b3;
  --color-on-secondary-container: #862400;
  --color-error: #b02500;
  --color-error-container: #f95630;
  --color-on-error-container: #520c00;
  --color-tertiary: #b70049;
  --color-on-tertiary: #ffeff0;
  --color-tertiary-container: #ff8fa4;
  --color-on-tertiary-container: #670025;
  --color-inverse-surface: #0e0e0e;
  --color-inverse-on-surface: #9e9c9c;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f3f0ef;
  --color-surface-container: #eae7e7;
  --color-surface-container-high: #e5e2e1;
  --color-surface-container-highest: #dfdcdc;
  --color-surface-variant: #dfdcdc;
  --color-on-surface-variant: #5c5b5b;
  --color-outline-variant: #afacac;

  --font-headline: var(--font-headline);
  --font-body: var(--font-body);
}
